<html lang="en">
    <body>

        <header>
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
              <a class="navbar-brand" href="#"><strong class="free"><span>Free</span>Lancer</strong></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto" >
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/nosoffres">Nos Offres</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/connexion">Connexion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/utilisateur">Inscription</a>
                  </li>
                </ul>
                <form class="form-inline">
                  <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </div>
                </form>
              </div>
            </div>
          </nav>
          <!-- Navbar -->
           <!-- Intro Section -->
  <div class="d-block">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Prendrez-vous les job de rêves </strong></h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <a href="/inscrit" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Je M'Inscrit</a>
              <a href="/connexion" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                mdbWavesEffect>Déja Inscrit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

       
</header>
</body>
</html>

 <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/imgAcc/images (2).jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"> Les actifs et les nouvelles formes de travail.</p>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/imgAcc/freelance-work-ftr.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Avec Freelance pas de risque de dépendance économique avec les consultant.</p>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/imgAcc/images (3).jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Freelance:ces profils qui ont la cote en entreprise</p>
      
    </div>
  </div>
</div>
<!-- Section: Features v.3 -->
<section class="my-5">

<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-center my-5">Why Choose Us</h2>
<!-- Section description -->
<p class="lead grey-text text-center w-responsive mx-auto mb-5">Être freelance,
c’est faire partie d’une communauté active de travailleurs indépendants grandissante de jour en jour.
</p>

<!-- Grid row -->
<div class="row">

<!-- Grid column -->
<div class="col-lg-5 text-center text-lg-left">
  <img class="img-fluid" src="assets/imgAcc/business-3370832_1280.jpg" alt="Sample image">
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-lg-7">

  <!-- Grid row -->
  <div class="row mb-3">

    <!-- Grid column -->
    <div class="col-1">
      <i class="fas fa-share fa-lg indigo-text"></i>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-10 col-md-11 col-10">
      <h5 class="font-weight-bold mb-3">
          Honest and Dependable</h5>
      <p class="grey-text">La communication est facilitée : vous n’êtes pas ballotté de services en services, contraint d’expliquer votre projet tour à tour 
         pendant des conversations téléphoniques interminables. Vous avez directement affaire au prestataire, sans passer par des intermédiaires : l’occasion d’échanger d’égal à égal entre chefs d’entreprises.
      </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row mb-3">

    <!-- Grid column -->
    <div class="col-1">
      <i class="fas fa-share fa-lg indigo-text"></i>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-10 col-md-11 col-10">
      <h5 class="font-weight-bold mb-3">We Are Passionate</h5>
      <p class="grey-text">Confier une mission à un freelance permet de faire l’impasse sur bon nombre de démarches administratives traditionnellement assurées par les départements de Ressources Humaines (recherche du profil, entretien préalable, édition d’un contrat, etc.) et retardant péniblement la mise en route effective du projet. De même, si vous vous apercevez en cours de route que le professionnel choisi ne répond pas à vos critères,
         il vous sera plus aisé de mettre fin à la collaboration pour solliciter un nouveau freelance.</p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!--Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col-1">
      <i class="fas fa-share fa-lg indigo-text"></i>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-10 col-md-11 col-10">
      <h5 class="font-weight-bold mb-3">Free time</h5>
      <p class="grey-text mb-0">un freelance a des plages horaires particulièrement souples : il n’a pas d’horaires de travail fixes prédéfinis. En ces conditions,
         nul doute qu’un retour de sa part vous parviendra dans les plus brefs délais suite à votre sollicitation et qu’il pourra passer en mode « urgence » si nécessaire sans avoir à s’adapter à d’autres contraintes extérieures.
        </p>
    </div>
    <!-- Grid column -->

  </div>
  <!--Grid row-->

</div>
<!--Grid column-->

</div>
<!-- Grid row -->

</section>
<!-- Section: Features v.3 -->

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

<!-- Footer Links -->
<div class="container text-center text-md-left">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mx-auto">

      <!-- Content -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
        Parcourir les principales catégories d'emplois</h5>
      

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 mx-auto">

      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

      <ul class="list-unstyled">
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">3D Modeling</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Linux</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Python</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">3D Animation</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Angular CLI</a>
          </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">C# Programming</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Mobile App Developpment</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">SoftWare Architecture</a>
          </li>
      </ul>

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 mx-auto">

      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

      <ul class="list-unstyled">
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Android</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Exel</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Css and HTML5</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Internet Marketing</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Copywriting</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">SEO</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Ionic</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Java</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">MySQL</a>
          </li>
      </ul>

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 mx-auto">

      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

      <ul class="list-unstyled">
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">HTML</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">WebsiteDesign</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Graphic Design</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">PHP</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Logo Design</a>
        </li>
        <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Photoshop</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">WordPress</a>
          </li>
          <li>
            <span uk-icon="icon:  triangle-right"></span><a href="#!">Javascript</a>
          </li>
         
      </ul>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<hr>

<!-- Call to action -->
<ul class="list-unstyled list-inline text-center py-2">
  <li class="list-inline-item">
    <h5 class="mb-1">Register for free</h5>
  </li>
  <li class="list-inline-item">
    <a href="/utilisateur" mdbBtn color="danger" rounded="true" mdbWavesEffect>Register!</a>
  </li>
  <p>Contactez-Nous</p>
  <div class="container stylish-color-dark contact">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
         <div class="card my-card" style="width: 18rem;">
          <div class="card-body cont">
  <form>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" placeholder="Votre Message" rows="3"></textarea>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </form>
  </div></div></div></div></div></div>
</ul>
<!-- Call to action -->

<hr>

<!-- Social buttons -->
<ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-gplus mx-1" mdbWavesEffect>
      <mdb-icon fab fab icon="google-plus"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-li mx-1" mdbWavesEffect>
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-dribbble mx-1" mdbWavesEffect>
      <mdb-icon fab icon="dribbble"></mdb-icon>
    </a>
  </li>
</ul>
<!-- Social buttons -->
</footer>
<!-- Footer -->
 