<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#"><strong class="free"><span>Free</span>Lancer</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
              <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/nosoffres">Nos Offres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/connexion">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/utilisateur">Inscription</a>
            </li>
          </ul>
         
        </div>
      </div>
    </nav>
 </header>
 <div>
    <div class="offre">
        <div class="col-sm-4 bloc left" >
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Spécialisation</h3>
                <p class="card-text">Frontend - Chef de produit - Backend - </p>
                <p class="card-text">chef de projet - Designe - Full Stack - </p>
                <p class="card-text"> Mobile - Data Science - Web </p>
                <hr width="50%" color="black" align=center>
                <h3 class="card-title">Expérience</h3>
                <p class="card-text">Expérimenté (3 à 6 ans) </p>
                <p class="card-text">Senior (7+) </p>
              </div>
            </div>
          </div>
    <div class="row Search">
        <div class="row">
    <form class="form-inline active-cyan-4 row">
         
            <div class="col-xs-4">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search by Compétence" aria-label="Search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text cyan lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                            aria-hidden="true"></i></span>
                      </div>
                  </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search by date" aria-label="Search"[(ngModel)]="searchDate" [ngModelOptions]="{standalone: true}">
                    <div class="input-group-prepend">
                        <span class="input-group-text cyan lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                            aria-hidden="true"></i></span>
                      </div>
                  </div>
            </div>
        
    </form>
  </div>
    <div class="row">
    <div class="card my-card" style="width: 18rem;" *ngFor=" let annonce of listAnnonce | filterJob : searchTerm" >
        <!--<img class="card-img-top" src="{{annonce.imgUrl}}" alt="Card image cap">-->
        <div class="card-body">
           <h2 class="card-title" name="name_annonceur">{{annonce.name_annonceur}}</h2>
          <h5 class="card-title" name="title">{{annonce.title}}</h5>
          <p class="card-text" name="description">Compétence :<span class="compet"> {{ annonce.description }} </span></p>
          <p class="card-text" name="budgee">Budget : {{ annonce.budgee }} </p>
          <p class="card-text" name="duree">Durée : {{ annonce.duree }} </p>
          
          <hr>
          <p class="card-text">Date D'annonce :{{annonce.date}}</p>
          <a [routerLink]="['nosoffres',annonce]" >Plus</a>
          <button type="button" class="btn btn-light">Postuler</button>
         
        </div>
      </div>
    </div>
  </div>
</div>