<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#"><strong class="free"><span>Free</span>Lancer</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item active">
            <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nosoffres">Nos Offres</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/connexion">Connexion</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/utilisateur">Inscription</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
  <!-- Navbar -->

</header>
<div class="jumbtron">
  <h1 class="display-4 text-center">Inscription</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      
        <div class="bloc">
            <h3 class="register-heading">Apply as a Freelancer</h3>
            <div class="left">
                <form class="md-form img">
                    <div class="file-field">
                      <div class="mb-4">
                        <a href="/condidat"><img src="assets/imgLog/men2.jpg" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar"></a>
                      </div>
                    </div>
                  </form>
                  </div>
                  </div>
                  
    </div>
    <div class="col-md-7">
        <div class="bloc">
        <h3 class="register-heading">Apply as a Entreprise</h3>
            <div class="right">
                <form class="md-form img">
                    <div class="file-field">
                      <div class="mb-4">
                       <a href="/entreprise" id="entrp"><img src="assets/imgLog/boss1.png" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar"></a> 
                      </div>
                    </div>
                  </form>
                  </div>
                  </div>
    </div>
  </div>
</div>
